.footer {
  height: 80px;
  background-color: #474747;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  line-height: 27px;
  width: 100%;
  position: sticky;
  bottom: 0;
}
.footer a {
  color: white;
}
.footer a:visited {
  color: white;
}
