.header {
  height: 60px;
  background-color: white;
  display: flex;
  width: 100%;
}

.header img {
  height: 30px;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu > div:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 618px;
  height: 100%;
}
.deposer-annonce {
  width: 204px;
  height: 39px;
  background-color: #f56b2a;
  color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1px;
  margin-left: 43px;
  margin-right: 30px;
}
.deposer-annonce > i {
  font-size: 21.75px;
  margin-right: 7px;
}

.search-button {
  width: 160px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.search-button:hover {
  border-bottom: solid 4px #f56b2a;
}
.search-button > i {
  font-size: 29.15px;
  margin-right: 7px;
}

.connection {
  width: 88px;
  height: 49px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.connection p {
  font-size: 15px;
  margin-top: 6px;
}
.connection > i {
  font-size: 20px;
}
