.product:hover {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.products a {
  text-decoration: none;
}
.products a h3 {
  color: black;
  font-size: 22px;
  line-height: 26px;
  margin-top: 15px;
  margin-bottom: 7px;
}
.products a:hover h3 {
  color: #f56b2a;
}
.product {
  width: 100%;
  height: 180px;
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}
.product > img {
  width: 240px;
  height: 180px;
  background-color: #cbd1d8;
  border-radius: 5px 0 0 5px;
  object-position: center;
  object-fit: contain;
}
.details {
  margin-left: 29px;
}
.details p:nth-child(2) {
  color: #f56b2a;
  font-size: 20px;
  margin-bottom: 75px;
  line-height: 23px;
}
.details span:last-child {
  color: black;
}
.photo-count {
  position: absolute;
  display: flex;
  align-items: center;
  height: 20px;
  padding: 0 1rem;
  color: white;
  left: 165px;
  bottom: 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
}
.photo-count i {
  margin-right: 5px;
}
