.pagination {
  display: flex;
  justify-content: center;
}
.pagination li {
  width: 30px;
  height: 30px;
  font-size: 19px;
  line-height: 140%;
  color: #336699;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.pagination li:hover {
  cursor: pointer;
}
.selected {
  background: #f56b2a;
  border-radius: 3px;
  color: white !important;
  border: none;
}
