.post {
  width: 1000px;
  height: 714px;
  margin-top: 44px;
  margin-bottom: 142px;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.post h4 {
  margin: 33px auto 21px auto;
}
.post ul {
  width: 350px;
}
.post ul li:first-child {
  display: flex;
}
.post ul li:nth-child(2) {
  border: 3px solid #f56b2a;
  margin-bottom: 33px;
}
.post ul li:nth-child(8) > input {
  width: 165px;
}
.post ul li:nth-child(6) > input {
  height: 139px;
}
.post ul li:nth-child(10) button {
  width: unset;
  line-height: unset;
  font-weight: normal;
  margin-bottom: 36px;
}
.post ul li > button:last-child {
  background-color: #4183d7;
  color: white;
}
.post ul p {
  font-weight: bold;
}
.post textarea {
  width: 350px;
  height: 139px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  margin-bottom: 23px;
  resize: none;
}
