.search {
  width: 810px;
  height: 130px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
  position: absolute;
  left: 315px;
  top: 95px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search-box {
  width: 320px;
  height: 44px;
  margin-right: 20px;
  background-color: #f4f6f7;
}
.search-box input {
  font-size: 16px;
  background-color: #f4f6f7;
  color: #8191a0;
  height: 44px;
  width: 274.5px;
  border: none;
}
.search-box i {
  font-size: 17.49px;
  color: #8191a0;
  height: 44px;
  margin: 10px 10px 10px 16px;
}
.search button {
  width: 220px;
  height: 44px;
  background-color: #4183d7;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
