.search {
  width: 810px;
  height: 130px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: white;
  margin-top: 35px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.search-box {
  width: 320px;
  height: 44px;
  margin-right: 20px;
  background-color: #f4f6f7;
}
.search-box input {
  font-size: 16px;
  background-color: #f4f6f7;
  color: black;
  height: 44px;
  width: 274.5px;
  border: none;
}
.search-box i {
  font-size: 17.49px;
  color: #8191a0;
  height: 44px;
  margin: 10px 10px 10px 16px;
}
.search button {
  width: 220px;
  height: 44px;
  background-color: #4183d7;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
.ellipse {
  background-color: #f56b2a;
  position: absolute;
  width: 2438px;
  height: 293px;
  left: -499px;
  top: -133px;
  border-radius: 1219px / 146.5px;
  z-index: -1;
}
