.sign-in {
  max-width: 715px;
  margin-top: 44px;
  margin-bottom: 142px;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.sign-in ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 560px;
  width: 100%;
}
.sign-in p {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}
.sign-in li {
  width: 100%;
}
.sign-in li:first-child {
  display: flex;
}
.sign-in h4 {
  margin: 21px auto;
}
.sign-in input,
.sign-in button {
  max-width: 560px;
  width: 100%;
  height: 44px;
  border-radius: 5px;
  line-height: 19px;
  font-size: 16px;
}
.sign-in ul li:nth-child(2) {
  border: 3px solid #f56b2a;
  margin-bottom: 33px;
}
.sign-in ul li:nth-child(8) {
  border: 1px solid #e4e8ec;
  margin-bottom: 18px;
  width: 715px;
}
.sign-in ul li:nth-child(9) {
  display: flex;
  justify-content: center;
}
.sign-in ul li:nth-child(4) input {
  margin-bottom: 19px;
}
.sign-in ul li:nth-child(6) input {
  margin-bottom: 28px;
}
.sign-in ul li:nth-child(7) button {
  margin-bottom: 39px;
  background: #4183d7;
  color: white;
}
.sign-in ul li:nth-child(10) button {
  margin-bottom: 27px;
  color: #4183d7;
  border: 1px solid #4183d7;
}
.sign-in li:last-child button {
  background-color: white;
}
