body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-size: 16px;
  line-height: 19px;
}
main {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 80px; /* height of your footer */
}
.wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
h3 {
  font-size: 22px;
  line-height: 26px;
}
h4 {
  font-size: 19px;
  font-weight: bold;
}
h5 {
  font-size: 14px;
  line-height: 19px;
  font-weight: bold;
  margin-bottom: 17px;
}
button {
  width: 350px;
  border-radius: 5px;
  line-height: 44px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}
input {
  font-size: 13px;
  height: 44px;
  width: 350px;
  border-radius: 5px;
  border: 1px solid #d9e0eb;
  box-sizing: border-box;
  margin-bottom: 23px;
  padding: 0 5px;
}
input:focus,
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
textarea {
  font-size: 13px;
}
p {
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 19px;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MEDIA QUERIES */
@media (min-width: 970px) {
  .fa-bars {
    display: none;
  }
}
@media (max-width: 480px) {
  .product {
    height: 120px !important;
  }
  .product > img {
    height: 100% !important;
    width: 122px !important;
  }
  .photo-count {
    min-width: 20px !important;
    padding: 0 5px !important;
    justify-content: center;
    left: 85px !important;
  }
  .photo-count i {
    display: none;
  }
  .details {
    font-size: 10px;
  }
  .details p,
  .details h3 {
    font-size: 14px !important;
  }
  .details p {
    margin-bottom: 25px !important;
  }
  .details h3 {
    font-weight: bold;
  }
}
@media (max-width: 674px) {
  .sign-up {
    justify-content: center !important;
    box-sizing: border-box;
  }
  .sign-up-infos {
    display: none;
  }
  .sign-up-list {
    flex: 1;
    margin-right: 0 !important;
  }
  .footer {
    height: 40px !important;
  }
  .footer h4 {
    font-size: 12px !important;
  }
  .nextButton,
  .prevButton {
    height: 30px !important;
    width: 30px !important;
    margin: 0 15px !important;
  }
}
@media (max-width: 970px) {
  /* HOME */
  .header {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  }
  .connection,
  .ellipse {
    display: none !important;
  }
  .search {
    margin-top: 5px !important;
    margin-bottom: 30px !important;
    height: 55px !important;
    max-width: 800px !important;
    width: 100% !important;
  }
  .search-box {
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .search-box input {
    width: 100% !important;
    margin-bottom: 0 !important;
    font-size: 13px !important;
    flex: 2;
  }
  .search > button {
    width: 100% !important;
    padding: 0 5px;
    box-sizing: border-box;
    flex: 1;
  }
  .search-box i {
    padding: 25px 5px 0 5px !important;
    margin: 0 !important;
  }
  .wrapper {
    width: 100vw !important;
    margin: 0 auto !important;
    padding: 0 5px;
    box-sizing: border-box;
  }
  .menu a:nth-child(2),
  .menu a:nth-child(3) {
    display: none !important;
  }
  .menu > div {
    width: 100vw !important;
    display: flex;
    justify-content: center !important;
  }
  .menu > i {
    font-size: 30px;
    position: absolute;
    left: 20px;
    color: #f56b2a;
  }
  .menu > i {
    cursor: pointer;
  }
  main {
    position: relative;
  }
  /* OFFER */
  .offer {
    flex-direction: column !important;
  }
  .user {
    margin-left: 0 !important;
  }
  .product-details {
    width: 100% !important;
  }
  .description {
    padding: 0 10px;
  }
}
